.service-box img{
width:100%;
border-radius:10px;
transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.service-box img:hover{
transform: scale(1.08);
box-shadow: 0 10px 25px rgba(14, 226, 64, 0.676);
}.service-box{
margin:20px;
padding:20px;
border:1px solid #8000ff;
border-radius:15px;
display:inline-block;
width:250px;
vertical-align:top;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box:hover{
transform: translateY(-8px);
box-shadow: 0 15px 30px rgba(128,0,255,0.4);
}.carrusel{
width:100%;
max-width:900px;
margin:50px auto;
overflow:hidden;
border-radius:20px;
box-shadow:0 15px 40px rgba(128,0,255,0.4);
}

.slider{
position:relative;
width:100%;
height:400px;
}

.slide{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
opacity:0;
transition:opacity 1s ease-in-out;
}

.slide.active{
opacity:1;
header{
background: linear-gradient(90deg,#1a001f,#4b0082);
padding:30px;
text-align:center;
position:relative;
overflow:hidden;
}

header::before{
content:"";
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background: linear-gradient(120deg, transparent, rgba(255,255,255,0.2), transparent);
animation: brillo 4s infinite;
}

@keyframes brillo{
0%{ left:-100%; }
100%{ left:100%; }
}